[submodule]
        recurse = true
        fetchRecurseSubmodules = true

[submodule "base/QAMpy"]
        path = base/QAMpy
        url = https://github.com/ChalmersPhotonicsLab/QAMpy
        branch = master
        update = checkout
